.playing {
    position: relative;
    width: 300px; /* set your preferred width */
    height: 400px; /* set your preferred height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* prevents the pseudo elements from overflowing */
    border-radius: 16px;
  
    /* This applies the border only when the 'playing' class is active */
  }
  
  .playing::before {
    content: '';
    position: absolute;
    width: 170px; /* set your preferred width */
    height: 140%; /* This height will cover more of the box */
    background: linear-gradient(#00ccff, #d500f9); /* set your preferred color */
    animation: rotate 4s linear infinite; /* adjust rotation speed as needed */
    z-index: 2; /* Ensure this element appears in front of the element */
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }